h1,
h2,
h3 {
  color: #002b5a;
  bottom-margin: 42px;
  text-style: capitalize;
}

h1 {
  font-size: 42px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  font-weight: 200;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  color: #333;
}

h3 + p {
  font-size: 12px;
}
h2 + p {
  font-size: 18px;
}

h1 + p {
  font-size: 18px;
  font-weight: 200;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #e2e2e2;
  margin-bottom: 42px;
}

a {
  color: #002b5a !important;
}

ul {
  list-style-type: none;
}

.jumbo {
  margin-bottom: 42px;
}

.container {
  max-width: 960px;
}

.state-finder-row {
  display: flex;
  flex-wrap: wrap;
}

.text-align {
  text-align: justify;
  text-justify: inter-word;
}

.title-margins {
  margin-left: 3px;
  margin-right: 3px;
}

.unbold {
  font-size: 18px;
  font-weight: 200;
}

.background-light {
  background-color: #f3f3f3;
  height: 143px;
}

.state-finder-header {
  color: #002b5a;
  font-size: 20px;
  margin: 20px 10px 20px 10px;
}

.state-finder {
  min-width: 319px;
  border-radius: 3px;
}

.state-finder > p {
  color: #002b5a;
  margin: 0px 10px 5px 10px;
  font-size: 12px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-radius: 0;
  font-size: 13px;
  margin-left: 10px;
  width: 100%;
  background-color: #fff;
  color: #002b5a;
  padding-left: 5px;
}

.finder {
  display: flex;
}

.search {
  margin-right: 10px;
  background-color: white;
}

.gray-background {
  background-color: #f3f3f3;
  padding: 10px 40px 20px 40px;
}

.gray-background-top {
  margin-bottom: 3px;
}

.col-4 {
  margin-bottom: 20px;
}
.gray-background-bottom {
  padding-top: 40px;
}

.learn-btn {
  background-color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  padding: 10px 15px 10px 15px;
}

.learn-btn:hover {
  cursor: pointer;
}

.card-title {
  color: #002b5a;
  font-size: 17px;
}

.card-title-bottom {
  margin-top: 20px;
}

.card-text {
  font-size: 13px;
  color: #666666;
  margin-top: -8px;
  margin-bottom: 30px;
}

.card-text-fix {
  margin-bottom: 50px;
}

.cards {
  min-width: 290px;
}

.learn-arrow {
  margin-left: 10px;
  margin-bottom: 5px;
}

.cards-top,
.cards-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -20px;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.filter {
  display: flex;
}

.filter-text {
  height: 35px;
  width: 90px;
}

.filter-select {
  height: 35px;
  border-radius: 3px;
}

.product-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.background-white {
  background-color: #fff;
  padding: 15px;
  width: 23.5%;
  height: 330px;
  min-width: 199.75px;
  margin-bottom: 20px;
}

.product-title {
  color: #002b5a;
  font-size: 17px;
}

.starting-at {
  color: #4987ca;
  font-size: 13px;
}

.product-text {
  font-size: 13px;
  color: #666666;
  margin-bottom: 30px;
}

.product-text-2 {
  margin-bottom: 11px;
}

.learn-more {
  font-size: 13px;
  color: #666666;
  margin-top: -30px;
}

.learn-more:hover {
  cursor: pointer;
}

.product-img-1 {
  background-image: url("../materials/images/cereal_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  width: 170px;
}

.product-img-2 {
  background-image: url("../materials/images/flower_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  width: 170px;
}

.product-img-3 {
  background-image: url("../materials/images/machine_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  width: 170px;
}

.product-img-4 {
  background-image: url("../materials/images/candy_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  width: 170px;
}

/* Item Dropdowns */

#dropdown-1,
#dropdown-2,
#dropdown-3,
#dropdown-4 {
  display: none;
  margin-top: 20px;
  width: 100%;
  height: 700px;
  background-color: #f3f3f3;
  padding: 30px 10px 20px 20px;
}

.dropdown-title-1,
.dropdown-title-2,
.dropdown-title-3,
.dropdown-title-4 {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  color: #002b5a;
  font-size: 24px;
}

.dropdown-price-1,
.dropdown-price-2,
.dropdown-price-3,
.dropdown-price-4 {
  font-size: 19px;
  margin-bottom: 20px;
  color:#4987ca;
}

.dropdown-body {
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
}

.dropdown-img1 {
  background-image: url("../materials/images/cereal_b.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}

.dropdown-img2 {
  background-image: url("../materials/images/flower_b.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}

.dropdown-img3 {
  background-image: url("../materials/images/machine_b.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}

.dropdown-img4 {
  background-image: url("../materials/images/candy_b.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}

.dropdown-body-wrap {
  display: flex;
  width: 100%;
}

.col-left,
.col-right {
  margin-left: 15px;
  width: 46%;
}

.col-right {
  margin-left: 35px;
}

.bullet-sprite1,
.bullet-sprite2,
.bullet-sprite3,
.bullet-sprite-img1,
.bullet-sprite-img2,
.bullet-sprite-img3 {
  font-size: 10px;
  color: #fff;
  background-color: #66b2b2;
  padding: 4px 7px 4px 7px;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: -30px;
}

.dropdown-img1 {
  position: relative;
}

.bullet-sprite-img1 {
  position: absolute;
  margin-left: 125px;
  margin-top: 130px;
  z-index: 100;
}

.bullet-sprite-img2 {
  position: absolute;
  margin-left: 315px;
  margin-top: 180px;
  z-index: 100;
}

.bullet-sprite-img3 {
  position: absolute;
  margin-left: 205px;
  margin-top: 245px;
  z-index: 100;
}

.bullet-sprite1:hover {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  transition: 100ms;
}

.bullet-sprite2:hover {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  transition: 100ms;
}

.bullet-sprite3:hover {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  transition: 100ms;
}

.list {
  margin-bottom: 10px;
}

.buy-btn {
  background-color: #002b5a;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  padding: 8px 10px 8px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  border-radius: 3px;
  margin-top: 10px;
}

.buy-btn:hover {
  cursor: pointer;
}

.product-title,
.starting-at,
.product-text,
.dropdown-img1,
.dropdown-img2,
.dropdown-img3,
.dropdown-img4,
.product-img-1,
.learn-more:hover {
  cursor: pointer;
}

.x:hover,
.x-1:hover,
.x-2:hover,
.x-3:hover,
.x-4:hover {
  cursor: pointer;
}
@media only screen and (min-width: 960px) {
  .state-finder-row {
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
  }

  .left {
    width: 60%;
  }

  .right {
    width: 30%;
  }
}

@media only screen and (max-width: 960px) {
  .state-finder-row {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .state-finder {
    margin-left: 30px;
    margin-bottom: 1px;
    width: 96%;
  }

  .left {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 949px) {
  .card-title-3 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 909px) {
  .background-white {
    width: 48.6%;
    min-width: 312px;
    height: 350px;
  }

  .product-img-1,
  .product-img-2,
  .product-img-3,
  .product-img-4 {
    width: 280px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 900px) {
  #dropdown-1,
  #dropdown-2,
  #dropdown-3,
  #dropdown-4 {
    height: 1200px;
  }

  .buy-btn {
    margin-bottom: -1px;
  }

  .dropdown-body-wrap {
    flex-direction: column;
  }

  .col-left,
  .col-right {
    margin-left: 15px;
    width: 95%;
  }
}

@media only screen and (max-width: 808px) {
  .product-img-1 {
    margin-top: -19px;
  }

  #dropdown-1,
  #dropdown-2,
  #dropdown-3,
  #dropdown-4 {
    height: 1100px;
  }
}

@media only screen and (max-width: 659px) {
  .card-title-1,
  .card-title-2,
  .card-title-3,
  .card-title-4,
  .card-title-5,
  .card-title-6 {
    margin-top: 20px;
  }

  #dropdown-1,
  #dropdown-2,
  #dropdown-3,
  #dropdown-4 {
    height: 1000px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .filter-text {
    display: none;
  }

  #dropdown-1,
  #dropdown-2,
  #dropdown-3,
  #dropdown-4 {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .background-white {
    margin-left: -23px;
  }
}

@media only screen and (max-width: 360px) {
  .background-white {
    margin-left: -31px;
  }

  .top-header {
    font-size: 40px;
  }

  .card-text {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 320px) {
  #dropdown-1,
  #dropdown-2,
  #dropdown-3,
  #dropdown-4 {
    height: 1100px;
  }

  .top-header {
    font-size: 35px;
  }

  .background-white {
    width: 48.6%;
    min-width: 272px;
    height: 350px;
  }

  .product-img-1,
  .product-img-2,
  .product-img-3,
  .product-img-4 {
    width: 243px;
  }

  .product-img-3,
  .product-img-4 {
    margin-top: -15px;
  }

  .product-header {
    margin-left: -30px;
    font-size: 30px;
  }

  .filter-select {
    width: 144px;
  }

  .card-text {
    padding-right: 56px;
  }
}
