h1,
h2,
h3 {
  color: #002b5a;
  bottom-margin: 42px;
  text-style: capitalize;
}

h1 {
  font-size: 42px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  font-weight: 200;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  color: #333;
}

h3 + p {
  font-size: 12px;
}
h2 + p {
  font-size: 18px;
}

h1 + p {
  font-size: 18px;
  font-weight: 200;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #e2e2e2;
  margin-bottom: 42px;
}

.jumbo {
  margin-bottom: 42px;
}

.container {
  max-width: 960px;
}

.text-align {
  text-align: justify;
  text-justify: inter-word;
}

.title-margins {
  margin-left: 3px;
  margin-right: 3px;
}

.unbold {
  font-size: 18px;
  font-weight: 200;
}

.background-light {
  background-color: #f3f3f3;
  height: 143px;
}

.state-finder-header {
  font-size: 20px;
  margin: 20px 10px 20px 10px;
}

.state-finder > p {
  color: #002b5a;
  margin: 0px 10px 5px 10px;
  font-size: 12px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-radius: 0;
  font-size: 13px;
  margin-left: 10px;
  width: 100%;
  background-color: #fff;
}

.finder {
  display: flex;
}

.search {
  margin-right: 10px;
  background-color: white;
}

.gray-background {
  background-color: #f3f3f3;
  padding: 10px 40px 20px 40px;
}

.gray-background-top {
  margin-bottom: 3px;
}

.gray-background-bottom {
  padding-top: 40px;
}

.cards-top,
.cards-bottom {
  display: flex;
  margin-left: -10px;
  margin-right: -20px;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.filter {
  display: flex;
}

.filter-text {
  height: 35px;
  width: 90px;
}

.filter-select {
  height: 35px;
}

.product-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.background-white {
  background-color: #fff;
  padding: 15px;
  width: 23.5%;
  height: 330px;
  min-width: 199.75px;
  margin-bottom: 20px;
}

.product-title {
  color: #002b5a;
  font-size: 17px;
}

.starting-at {
  color: #4987ca;
  font-size: 13px;
}

.product-text {
  font-size: 13px;
  color: #666666;
  margin-bottom: 30px;
}

.product-text-2 {
  margin-bottom: 11px;
}

.learn-more {
  font-size: 13px;
  color: #666666;
  margin-top: -30px;
}

.learn-more:hover {
  cursor: pointer;
}

.product-img-1 {
  background-image: url("../materials/images/cereal_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  width: 170px;
}

.product-img-2 {
  background-image: url("../materials/images/flower_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  width: 170px;
}

.product-img-3 {
  background-image: url("../materials/images/machine_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  width: 170px;
}

.product-img-4 {
  background-image: url("../materials/images/candy_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
  width: 170px;
}
